body {font-family: 'Roboto', sans-serif;
      color: #434455;
      background-color: #FFFFFF;
      margin: 0;}
a {text-decoration: none;
   color:#434455}
ul, ol {list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;}
h1, h2, h3, p {
   margin-top: 0;
   margin-bottom: 0;}
img {display: block;}

.container {width: 100%;
         max-width: 1158px;
         padding-left: 15px;
         padding-right: 15px;
         margin-left: auto;
         margin-right: auto;}

   /*-----HEADER------*/

.hdr {border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {display: flex;
                   justify-content: space-between;
                  }
.nav-flex {padding: 24px 0;
           margin-right: auto;
           display: flex;
           align-items: center;} 
.logo {font-family: 'Raleway', sans-serif;
       font-weight: 700;
       font-size: 18px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: #4d5ae5;
       width: 115px;
       height: 24px;
       margin-right: 76px;
      }
.logo-studio {color:#2e2f42;}
.menu {display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   gap: 40px;
}
.page-nav {color: #434455;
           font-size: 16px;
           font-weight: 500;
           line-height: 1.5;
           letter-spacing: 0.02em;
           color: #2e2f42;
           padding: 24px 0;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav:hover, .page-nav:focus {color: #404BBF;}

.studio {
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;
   color: #404bbf;
}

.studio::after {
   display: block;
   content: "";
   border-radius: 2px;
   width: 100%;
   position: absolute;
   height: 4px;
   left: 0;
   bottom: -1px;
   background: #404BBF;
   margin-top: 20px;
}
.address-lin {font-style: normal;
              font-size: 16px;
              line-height: 1.2px;
              letter-spacing: 0.02em;
}
.list {display: flex;
       height: 100%;
       align-items: center;
       gap: 40px;
}
.address:hover, .address:focus {color: #404BBF;}
.address {line-height: 1.5;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*--------HERO---------*/

.hero-title {width: 100%;
   margin: 0 auto;
   height: 600px;
   font-size: 36px;
   max-width: 1440px;
   font-weight: 700;
   letter-spacing: 0.02em;
   line-height: 1.2;
   padding: 188px 0;
   background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.page-title {font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #FFFFFF;
   max-width: 496px;
   margin: 0 auto;
   margin-bottom: 48px;
}
.button {
   color: #FFFFFF;
   background-color: #4D5AE5;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
   margin: 0 auto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {background-color: #404BBF;
}

/*-----------VISION------------*/

.vision {padding: 120px 0;
   background-color: #FFFFFF;
}
.visually-hidden {position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.card-flex {display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 24px;
}
.card-flex-item {width: calc((100% - 72px) / 4);
}
.card-title {font-size: 20px;
   font-weight: 500;
   letter-spacing: 0.02em;
   color: #2e2f42;
   background-color: #FFFFFF;
   line-height: 1.2;
   margin-bottom: 8px;
}
.descr {font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   margin-bottom: 8px;
}


/*-----------TEAM----------*/

.team {background-color: #F4F4FD;
   padding: 120px 0;
}
.team-title {font-size: 36px;
   font-weight: 500;
   letter-spacing: 0.02em;
   line-height: 1.11;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}
.team-card {display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
}
.team-card-item {
   background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-name {padding: 32px 0;
   text-align: center;
}


/*---------PORTFOLIO---------*/

.prtfl-card {display: flex;
   flex-wrap: wrap;
   row-gap: 48px;
   column-gap: 24px;
}
.prtfl-card-item {width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prtfl-card-item:hover {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.prtfl-card-item:hover .text-overlay {
   transform: translateY(0%);
  
}
.text-overlay {
   position: absolute;
   top: 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
   align-items: center;
   padding: 40px 32px;
   background-color: #4d5ae5;
   height: 100%;
   width: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bnft {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}


/*-----------FOOTER----------------*/
.footer {
   background-color: #2e2f42;
   padding: 100px 0;
}
.footer-net {
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
}
.foot-logo-block {
   margin-right: 120px;
}
.logo-ftr {
   display: inline-block;
   margin-bottom: 16px;
}
.logo-footer {
   color: #f4f4fd;
   margin-bottom: 16px;
   display: inline-block;
}
.p-footer {
   color: #f4f4fd;
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
   line-height: 1.5;
   max-width: 265px;
}
.media {
   width: 208px;
   height: 80px;
}

.p-media {
   margin-bottom: 16px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
}


.sub-section {
   height: 80px;
   margin-left: 80px;
}

.subscribe {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.subscribe-input {
   display: flex;
   background-color: transparent;
   border: 1px solid #ffffff;
   border-radius: 4px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   height: 40px;
   width: 264px;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
   padding-left: 16px;
   color: #ffffff;
}

.subscribe-label {
   display: flex;
}

.subscribe-button {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   padding: 8px 24px;
   min-width: 165px;
   height: 40px;
   border: none;
   background: #4D5AE5;
   cursor: pointer;


   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #FFFFFF;
}

input::placeholder {
   color: #FFFFFF;
}

.send-icon {
   margin-left: 16px;
}





/*-----------ICONS------------*/
.icon {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 112px;
   margin-bottom: 8px;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   background-color: #F4F4FD;
}

.scl-nt {
   display: flex;
   justify-content: center;
   gap: 24px;
}

.networks {
   width: 40px;
   height: 40px;
}

.net-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.net-link:hover,
.net-link:focus {background-color: #404bbf;
}
.net-svg {
   fill: #f4f4fd;
}
.vrl {position: relative;
   overflow: hidden;
}
.social-net {
   display: flex;
   gap: 16px;
}
.social-net-item {
   width: 40px;
   height: 40px;
}
.social-net-icon {
   fill: #f4f4fd;
}
.net-link-f {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.net-link-f:hover,
.net-link-f:focus {
   background-color: #31d0aa;
}




/*-------------MODAL----------------*/

form {
   display: flex;
   flex-direction: column;
}

.modal-overlay {
   opacity: 0;
   background-color: rgba(46, 47, 66, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;

   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay.is-open {
      opacity: 1;
      pointer-events: auto; 
   }

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 408px;
   min-height: 584px;
   background-color: #fcfcfc;
   border-radius: 4px;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
         0 1px 3px 0 rgba(0, 0, 0, 0.12),
         0 2px 1px 0 rgba(0, 0, 0, 0.2);

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

   padding: 72px 24px 24px 24px;
   
}

.title-modal {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 16px;
   text-align: center;
}

.modal-close {
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: #e7e9fc;
   border: 1px solid rgba(0, 0, 0, 0.1);
   cursor: pointer;
   padding: 0;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:hover,
.modal-close:focus {
   background-color: #404bbf;
   border: none;
   fill: #ffffff;
}

.close-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form {
   margin-bottom: 8px;

}
.modal-label-name {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;

      display: block;
      margin-bottom: 4px;    
}

.modal-form-icon {
   position: relative;
}


.form-user-name {
   width: 100%;
   height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   background-color: transparent;
   padding-left: 38px;
   outline: transparent;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-name:focus {
   border-color: #4D5AE5;}
   
.form-user-name:focus + .form-icon-name {
      fill: #4D5AE5;}

.form-icon-name {
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-comment {
   margin-bottom: 16px;
}
.comment-text {
   width: 100%;
   height: 120px;
   font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-text:focus {
   border-color: #4D5AE5; 
}
.form-checkbox {
   margin-bottom: 24px;
}
.form-checkbox-input:checked + .label-privacy .privacy-policy-span {
   background-color: #404bbf;
   border: none;
   fill: #f4f4fd;
}

.label-privacy {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8e8f99;

}

.privacy-policy-span {
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
   margin-right: 8px;
}
privacy-policy-span:checked {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}
.privacy-policy-link {
   color: #4d5ae5;
}

.modal-button {
   display: block;
   min-width: 169px;
   margin: 0 auto;
   height: 56px;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   background-color: #4D5AE5;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus,
.modal-button:hover {
   background-color: #404bbf;
}











/*-----------------*/



